USE [master]
GO
/****** Object:  Database [DOCTRUYEN]    Script Date: 5/28/2024 1:03:15 PM ******/
CREATE DATABASE [DOCTRUYEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DOCTRUYEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DOCTRUYEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DOCTRUYEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DOCTRUYEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOCTRUYEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOCTRUYEN]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/28/2024 1:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[idAccount] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[pwAccount] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[roleAcc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chuong]    Script Date: 5/28/2024 1:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chuong](
	[idChuong] [int] IDENTITY(1,1) NOT NULL,
	[idTruyen] [int] NULL,
	[Chuong] [int] NULL,
	[LinkTruyen] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[idChuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 5/28/2024 1:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[idTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Truyen]    Script Date: 5/28/2024 1:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Truyen](
	[idTruyen] [int] IDENTITY(1,1) NOT NULL,
	[TenTruyen] [nvarchar](50) NULL,
	[idTheLoai] [int] NULL,
	[idAccount] [int] NULL,
	[TacGia] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 5/28/2024 1:03:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[idYeuThich] [int] IDENTITY(1,1) NOT NULL,
	[idTruyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idYeuThich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([idAccount], [Ten], [username], [pwAccount], [TrangThai], [roleAcc]) VALUES (1, N'huy', N'huyhuy', N'abc', N'dd', 2)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Chuong] ON 

INSERT [dbo].[Chuong] ([idChuong], [idTruyen], [Chuong], [LinkTruyen]) VALUES (1, 1, 122, N'qwss')
SET IDENTITY_INSERT [dbo].[Chuong] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([idTheLoai], [TenTheLoai]) VALUES (1, N'hentai')
INSERT [dbo].[TheLoai] ([idTheLoai], [TenTheLoai]) VALUES (2, N'hành động ')
INSERT [dbo].[TheLoai] ([idTheLoai], [TenTheLoai]) VALUES (3, N'trinh thám')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
SET IDENTITY_INSERT [dbo].[Truyen] ON 

INSERT [dbo].[Truyen] ([idTruyen], [TenTruyen], [idTheLoai], [idAccount], [TacGia]) VALUES (1, N'anime', 1, 1, N'Duy')
INSERT [dbo].[Truyen] ([idTruyen], [TenTruyen], [idTheLoai], [idAccount], [TacGia]) VALUES (3, N'anime ', 2, 1, N'Binh')
INSERT [dbo].[Truyen] ([idTruyen], [TenTruyen], [idTheLoai], [idAccount], [TacGia]) VALUES (5, N'adsadasd', 1, 1, N'hoa')
SET IDENTITY_INSERT [dbo].[Truyen] OFF
GO
SET IDENTITY_INSERT [dbo].[YeuThich] ON 

INSERT [dbo].[YeuThich] ([idYeuThich], [idTruyen]) VALUES (1, 1)
INSERT [dbo].[YeuThich] ([idYeuThich], [idTruyen]) VALUES (2, 1)
SET IDENTITY_INSERT [dbo].[YeuThich] OFF
GO
ALTER TABLE [dbo].[Chuong]  WITH CHECK ADD FOREIGN KEY([idTruyen])
REFERENCES [dbo].[Truyen] ([idTruyen])
GO
ALTER TABLE [dbo].[Truyen]  WITH CHECK ADD FOREIGN KEY([idAccount])
REFERENCES [dbo].[Account] ([idAccount])
GO
ALTER TABLE [dbo].[Truyen]  WITH CHECK ADD FOREIGN KEY([idTheLoai])
REFERENCES [dbo].[TheLoai] ([idTheLoai])
GO
ALTER TABLE [dbo].[YeuThich]  WITH CHECK ADD FOREIGN KEY([idTruyen])
REFERENCES [dbo].[Truyen] ([idTruyen])
GO
USE [master]
GO
